# Dependencies
/node_modules

# Transpiled/Built files
/dist

# Environment variables
.env

# Prisma
# SQLite database file
*.db
*.db-journal

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
